[submodule "weed-blockchain-gui"]
	path = weed-blockchain-gui
	url = https://github.com/Weed-Network/weed-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Weed-Network/mozilla-ca.git
        branch = main
